body {
    background-color: #ccc;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    font-size: 2em;
}
textarea {
    width: 40vw;
    height: 10em;
}
#ruleBoxContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
.ruleBox, #btnToAddRuleBox {
    align-items: center;
    animation: show 0.5s;
    background-color: #999;
    border:1px solid black;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12em;
    margin: 1em;
    max-width: 12em;
    width: 100vw;
}
@keyframes show {
    0% {
        transform: translateY(-1em);
    }
}
input {
    height: 1em;
    width: 80%;
}
input::placeholder {
    text-align: center;
}
#btnToAddRuleBox {
    border: none;
    cursor: pointer;
    font-size: 1em;
}
#btnToAddRuleBox:focus {
    border: solid #ff7a00 1px;
    outline: none;
}
